<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WHOIS</title>
        <link rel="stylesheet" href="index.css">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="src/modules/domainServices.js"></script>
        <script src="src/modules/domainParser.js"></script>
    </head>
    <body ng-app="domainParser">
        <div id="domain-parser" ng-controller="domainHandler">
            <form ng-init="initgRecaptcha()">
                <div class="form-group">
                    <label for="domain-input">Domain Name</label>
                    <input class="form-control" id="domain-input" placeholder="Enter your domain" ng-model="domainName" />
                    <small id="domain-hint" class="form-text text-muted">Never share your private domain with others</small>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdpptEUAAAAAJ8T3TfmkUmj-uPwfF49RJevYk1A" ng-model="grecaptchaResponse"></div>
                <button class="btn btn-primary" id="domain-btn" type="submit" ng-click="sendDomain(domainName)">Submit</button>
            </form>
            <ul id="whois-info">
                <li ng-repeat="item in data track by $index" ng-if="status === 200">
                    <span>{{item.split(':')[0]}}:</span>{{item.split(':')[1]}}
                </li>
                <li ng-repeat="item in data track by $index" ng-if="status === 400">{{item}}</li>
            </ul>
        </div>
    </body>
</html>
